# Server Configuration
NODE_ENV=
PORT=

# Logger Configuration
LOG_LEVEL=
PRETTY_PRINT_LOG=

# Swagger Configuration
SWAGGER_ENABLED=

# Database configuration [Read]
DB_READ_HOST=
DB_READ_PORT=
DB_READ_NAME=
DB_READ_USERNAME=
DB_READ_PASSWORD=

# Database configuration [Write]
DB_WRITE_HOST=
DB_WRITE_PORT=
DB_WRITE_NAME=
DB_WRITE_USERNAME=
DB_WRITE_PASSWORD=

# Discord Webhook URL for Notifications
SUCCESS_DISCORD_WEBHOOK=
ERROR_DISCORD_WEBHOOK=
DISCORD_NOTIFY_ROLES=